<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.common.mapper.SceneDetailMapper">
  <resultMap id="BaseResultMap" type="org.humingk.common.entity.SceneDetail">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="id_scene" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="id_movie_scene" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="happen_time" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, id_scene, id_movie_scene, happen_time, description
  </sql>
  <select id="selectByExample" parameterType="org.humingk.common.entity.SceneDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scene_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scene_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from scene_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.common.entity.SceneDetailExample">
    delete from scene_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.common.entity.SceneDetail">
    insert into scene_detail (id, id_scene, id_movie_scene, 
      happen_time, description)
    values (#{id,jdbcType=BIGINT}, #{idScene,jdbcType=BIGINT}, #{idMovieScene,jdbcType=BIGINT}, 
      #{happenTime,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.common.entity.SceneDetail">
    insert into scene_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idScene != null">
        id_scene,
      </if>
      <if test="idMovieScene != null">
        id_movie_scene,
      </if>
      <if test="happenTime != null">
        happen_time,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="idScene != null">
        #{idScene,jdbcType=BIGINT},
      </if>
      <if test="idMovieScene != null">
        #{idMovieScene,jdbcType=BIGINT},
      </if>
      <if test="happenTime != null">
        #{happenTime,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.common.entity.SceneDetailExample" resultType="java.lang.Long">
    select count(*) from scene_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scene_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.idScene != null">
        id_scene = #{record.idScene,jdbcType=BIGINT},
      </if>
      <if test="record.idMovieScene != null">
        id_movie_scene = #{record.idMovieScene,jdbcType=BIGINT},
      </if>
      <if test="record.happenTime != null">
        happen_time = #{record.happenTime,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scene_detail
    set id = #{record.id,jdbcType=BIGINT},
      id_scene = #{record.idScene,jdbcType=BIGINT},
      id_movie_scene = #{record.idMovieScene,jdbcType=BIGINT},
      happen_time = #{record.happenTime,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.humingk.common.entity.SceneDetail">
    update scene_detail
    <set>
      <if test="idScene != null">
        id_scene = #{idScene,jdbcType=BIGINT},
      </if>
      <if test="idMovieScene != null">
        id_movie_scene = #{idMovieScene,jdbcType=BIGINT},
      </if>
      <if test="happenTime != null">
        happen_time = #{happenTime,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.humingk.common.entity.SceneDetail">
    update scene_detail
    set id_scene = #{idScene,jdbcType=BIGINT},
      id_movie_scene = #{idMovieScene,jdbcType=BIGINT},
      happen_time = #{happenTime,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>