/*! CSS Used from: https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css */
div,ul,li,h2{margin:0;padding:0;}
img{border:0;}
i{font-style:normal;font-weight:normal;}
ul{list-style:none;}
h2{font-size:100%;font-weight:normal;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#669;text-decoration:none;}
a:hover{color:#fff;text-decoration:none;background:#37a;}
a:active{color:#fff;text-decoration:none;background:#f93;}
a img{border-width:0;vertical-align:middle;}
.grid-16-8 .aside{float:right;width:310px;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#666699;text-decoration:none;}
a:hover{color:#FFFFFF;text-decoration:none;background:#37a;}
a:active{color:#FFFFFF;text-decoration:none;background:#FF9933;}
a img{border-width:0;vertical-align:middle;}
ul{list-style-type:none;margin:0;padding:0;}
h2{font:15px Arial, Helvetica, sans-serif;color:#072;margin:0 0 12px 0;line-height:150%;}
.pl{font:12px Arial, Helvetica, sans-serif;line-height:150%;color:#666666;}
.bs{margin:0px;padding:0px;}
.bs li{border-bottom:1px dashed #ddd;margin:0;padding:4px 0;overflow:hidden;}
.bs .buylink-price{_vertical-align:2px;}
.pil{height:48px;width:48px;}
.feed{background:url(https://img3.doubanio.com/f/shire/4bace6d78006ece72f0e4a2b714fcfe3b54dd4e2/pics/feed1.png) no-repeat;font-size:14px;padding:0 0 30px 20px;}
.gray_ad{background:#F4F4EC;padding:10px;margin-bottom:20px;word-wrap:break-word;}
.allstar50{display:inline-block;*display:inline;zoom:1;background:url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) no-repeat;background:-webkit-image-set(url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) 1x, url(https://img3.doubanio.com/f/shire/0147ca9efddcac80050854590d26bee587b008df/pics/rating_icons/ic_rating_s@2x.png) 2x) no-repeat;background:-moz-image-set(url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) 1x, url(https://img3.doubanio.com/f/shire/0147ca9efddcac80050854590d26bee587b008df/pics/rating_icons/ic_rating_s@2x.png) 2x) no-repeat;background:-o-image-set(url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) 1x, url(https://img3.doubanio.com/f/shire/0147ca9efddcac80050854590d26bee587b008df/pics/rating_icons/ic_rating_s@2x.png) 2x) no-repeat;background:-ms-image-set(url(https://img3.doubanio.com/f/shire/b8f4c3672ef81106701071831e22422a745d3b74/pics/rating_icons/ic_rating_s.png) 1x, url(https://img3.doubanio.com/f/shire/0147ca9efddcac80050854590d26bee587b008df/pics/rating_icons/ic_rating_s@2x.png) 2x) no-repeat;width:55px;height:11px;margin:0 3px 0 0;overflow:hidden;}
.allstar50{background-position:0 0px;}
/*! CSS Used from: https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css */
html .pl{font-size:13px;}
html h2{font-size:16px;}
.grid-16-8 .aside{width:300px;}
@media (max-width: 1024px){
  [id^=dale_]{max-width:1000px;}
}
/*! CSS Used from: Embedded */
img{max-width:100%;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/4ed34a7564f61c0f.css */
#content h2{color:#007722;}
.bs li{position:relative;}
.bs li:last-of-type{border:none;}
.gray_ad{position:relative;}
.gray_ad h2{margin-bottom:6px;}
.gray_ad .report-error{color:#999;display:none;position:absolute;top:10px;right:10px;background:transparent;}
.gray_ad:hover .report-error{display:inline;}
.bs li a{margin-left:6px;}
.buylink-price{left:130px;position:absolute;color:#999;}
.tags{margin-bottom:30px;}
.tags-body{line-height:24px;letter-spacing:-0.31em;*letter-spacing:normal;}
.tags-body a{display:inline-block;*display:inline;letter-spacing:normal;margin:0 8px 8px 0;padding:0 8px;background-color:#f5f5f5;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.tags-body a:link,.tags-body a:visited{background-color:#f5f5f5;color:#37A;}
.tags-body a:hover,.tags-body a:active{background-color:#e8e8e8;color:#37A;}
#subject-doulist{margin-bottom:40px;word-wrap:break-word;}
#subject-doulist ul{border-top:1px dashed #DDD;}
#subject-doulist li{padding:4.5px 0;border-bottom:1px dashed #DDD;}
#subject-doulist li span{line-height:1.5;color:#666;}
#subject-others-interests{margin-bottom:40px;word-wrap:break-word;}
#subject-others-interests ul{margin-top:-10px;margin-bottom:10px;}
#subject-others-interests li{overflow:hidden;*zoom:1;padding:12px 0;border-bottom:1px dashed #DDD;line-height:1.5;color:#666;}
#subject-others-interests .others-interest-avatar{float:left;margin-right:12px;}
#subject-others-interests .others-interest-info{overflow:hidden;*zoom:1;}
/*! CSS Used from: https://img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css */
ul{list-style-type:none;margin:0;padding:0;}
ul{list-style:none;}
a{cursor:pointer;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/72c832a012d60695.css */
*:active{outline:none;}
.feed{font-size:12px;}
::-webkit-input-placeholder{color:#ccc;}
.feed{background-size:15px;}
