/*! CSS Used from: https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css */
div,dl,dt,dd,ul,li,h1,h2,h3,form,input{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0;}
i,strong{font-style:normal;font-weight:normal;}
ul{list-style:none;}
h1,h2,h3{font-size:100%;font-weight:normal;}
input{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input{*font-size:100%;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#669;text-decoration:none;}
a:hover{color:#fff;text-decoration:none;background:#37a;}
a:active{color:#fff;text-decoration:none;background:#f93;}
a img{border-width:0;vertical-align:middle;}
td{font:12px Helvetica,Arial,sans-serif;line-height:1.62;}
table{border-collapse:collapse;border:none;padding:0;margin:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;display:inline-block;_height:1px;}
.clearfix{display:block;}
#wrapper{width:950px;margin:0 auto;}
#content{min-height:420px;}
#footer{color:#999;padding:6px 0;margin-top:40px;overflow:hidden;zoom:1;border-top:1px dashed #ddd;}
.grid-16-8 .article{float:left;width:590px;border-right:1px solid;border-color: #e6d7d7 ;padding-right: 5px}
/*.grid-16-8 .article{float:left;width:590px;padding-right:40px;}*/
input{margin-right:3px;vertical-align:middle;}
.extra{clear:both;text-align:right;}
form{margin:0;padding:0;border:0px;}
input{font-size:12px;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#666699;text-decoration:none;}
a:hover{color:#FFFFFF;text-decoration:none;background:#37a;}
a:active{color:#FFFFFF;text-decoration:none;background:#FF9933;}
a img{border-width:0;vertical-align:middle;}
table{border-collapse:collapse;border:none;padding:0;margin:0;}
h1{word-wrap:break-word;display:block;font-size:25px;color: #f7097a;font-weight:bold;margin:0;padding:0 0 15px 0;line-height:1.1;}
h1 .year{color:#888;}
h3{margin-left:4px;font:14px Arial, Helvetica, sans-serif;color:#666666;margin-bottom:1px;line-height:1.8;background-color:#f2fbf2;}
ul{list-style-type:none;margin:0;padding:0;}
h2{font:15px Arial, Helvetica, sans-serif;color:#072;margin:0 0 12px 0;line-height:150%;}
.ll{float:left;}
.rr{float:right;}
.gtleft{padding:4px 4px 0 0;float:left;}
.hidden{display:none;}
.gact{color:#BBBBBB;font-size:12px;text-align:center;cursor:pointer;}
.gact a:link{color:#BBBBBB;font-size:12px;text-decoration:none;text-align:center;}
.gact a:visited{color:#BBBBBB;font-size:12px;text-decoration:none;text-align:center;}
.gact a:hover{color:#FFFFFF;font-size:12px;border-left:1px solid #FF9999;border-top:1px solid #FF9999;border-right:1px solid #FF3333;border-bottom:1px solid #FF3333;background-color:#773333;text-align:center;}
.bs{margin:0px;padding:0px;}
.bs li{border-bottom:1px dashed #ddd;margin:0;padding:4px 0;overflow:hidden;}
.bs .buylink-price{_vertical-align:2px;}
.olt{width:100%;padding:0;margin-bottom:3px;}
.olt td{border-bottom:1px dashed #DDDDDD;padding:3px 3px 3px 0;word-wrap:break-word;word-break:break-word;}
.pil{height:48px;width:48px;}
.subject{float:left;width:415px;}
#mainpic{margin:3px 0 0 0;float:left;text-align:center;margin:3px 12px 0 0;max-width:155px;overflow:hidden;}
#mainpic a img{margin-bottom:10px;}
#info{float:left;max-width:248px;word-wrap:break-word;}
.clearbox{clear:both;width:100%;}
.clearbox:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
/*.subjectwrap{position:relative;float:left;width:100%;margin-bottom:15px;}*/
/*.subjectwrap{position:relative;float:left;width:100%;}*/
/*不需要 position 会与搜索提示混合*/
.subjectwrap{float:left;width:100%;}
.rec-sec{text-align:right;color:#999;}
.rec-sec span{*zoom:1;}
.lnk-sharing{display:inline-block;*display:inline;zoom:1;padding:0 8px;vertical-align:middle;*vertical-align:baseline;height:19px;line-height:19px;line-height:21px\9;overflow:hidden;border:1px solid #b9dcd0;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
a.lnk-sharing:link,a.lnk-sharing:visited{border-color:#e3f1ed;background-color:#f2f8f2;color:#4f946e;}
a.lnk-sharing:hover,a.lnk-sharing:active{border-color:#c4e2d8;background-color:#eff5ef;}
.feed{background:url(https://img3.doubanio.com/f/shire/4bace6d78006ece72f0e4a2b714fcfe3b54dd4e2/pics/feed1.png) no-repeat;font-size:14px;padding:0 0 30px 20px;}
.miniform{display:inline;}
.minisubmit{padding:0;margin:0;color:#37a;background:none;cursor:pointer;border:none;}
.minisubmit:hover{background:#003399;color:#fff;}
.gray_ad{background:#F4F4EC;padding:10px;margin-bottom:20px;word-wrap:break-word;}
.doulist-add-btn{float:left;margin-right:15px;}
.fleft{float:left;}
.fright{float:right;}
#interest_sect_level{clear:both;padding:20px 0 3px;}
.ul_subject_menu{margin-left:-15px;}
.ul_subject_menu li{float:left;display:inline;line-height:14px;margin-left:15px;}
.color_gray{color:#666;}
.starstop{margin:0;}
p.gact{margin:0;}
.subjectwrap{position:none;float:none;width:auto;}
.hide{display:none;}
.pt6{padding-top:6px;}
.mr10{margin-right:10px;}
#rating a:hover{background:none;}
.mod:after{content:'\0020';display:block;clear:both;}
div.comment-item{margin-bottom:1em;word-break:break-word;}
.comment-item{*zoom:1;overflow:hidden;margin-bottom:1.6em;}
.comment-item h3{margin:1.5em 0 1em 0;height:1.7em;line-height:1.7em;padding-left:4px;}

/*豆瓣Allstars*/
.allstar50,.allstar40,.allstar20,.allstar10{display:inline-block;*display:inline;zoom:1;background:url(../../images/star/doubanStars.png) no-repeat;background:-webkit-image-set(url(../../images/star/doubanStars.png) 1x, url(../../images/star/doubanStars.png) 2x) no-repeat;background:-moz-image-set(url(../../images/star/doubanStars.png) 1x, url(../../images/star/doubanStars.png) 2x) no-repeat;background:-o-image-set(url(../../images/star/doubanStars.png) 1x, url(../../images/star/doubanStars.png) 2x) no-repeat;background:-ms-image-set(url(../../images/star/doubanStars.png) 1x, url(../../images/star/doubanStars.png) 2x) no-repeat;width:55px;height:11px;margin:0 3px 0 0;overflow:hidden;}
.allstar50{background-position:0 0px;}
.allstar40{background-position:0 -22px;}
.allstar20{background-position:0 -66px;}
.allstar10{background-position:0 -88px;}

/*豆瓣Bigstars*/
.bigstar45, .bigstar40, .bigstar35, .bigstar30, .bigstar25, .bigstar20, .bigstar15, .bigstar10, .bigstar5{display:inline-block;*display:inline;zoom:1;background:url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) no-repeat;background:-webkit-image-set(url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) 1x, url(https://img3.doubanio.com/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;background:-moz-image-set(url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) 1x, url(https://img3.doubanio.com/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;background:-o-image-set(url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) 1x, url(https://img3.doubanio.com/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;background:-ms-image-set(url(https://img3.doubanio.com/f/shire/680a4bc4c384199245b080c7104da5be8ed717d3/pics/rating_icons/ic_rating_m.png) 1x, url(https://img3.doubanio.com/f/shire/ee7f53d76c3f8ed4991bdbafdb9b2c90c0aedfef/pics/rating_icons/ic_rating_m@2x.png) 2x) no-repeat;width:75px;height:15px;margin:1px 0 0 0;overflow:hidden;}
.bigstar45{background-position:0 -15px;}
.bigstar40{background-position:0 -30px;}
.bigstar35{background-position:0 -45px;}
.bigstar30{background-position:0 -60px;}
.bigstar25{background-position:0 -75px;}
.bigstar20{background-position:0 -90px;}
.bigstar15{background-position:0 -105px;}
.bigstar10{background-position:0 -120px;}
.bigstar5{background-position:0 -150px;}

/*IMDB stars*/
.bigImdbStar45, .bigImdbStar40, .bigImdbStar35, .bigImdbStar30, .bigImdbStar25, .bigImdbStar20, .bigImdbStar15, .bigImdbStar10, .bigImdbStar5, .bigImdbStar0{display:inline-block;*display:inline;zoom:1;background:url(../../images/star/ImdbStars.png) no-repeat;background:-webkit-image-set(url(../../images/star/ImdbStars.png) 2x) no-repeat;background:-moz-image-set(url(../../images/star/ImdbStars.png) 2x) no-repeat;background:-o-image-set(url(../../images/star/ImdbStars.png) 2x) no-repeat;background:-ms-image-set(url(../../images/star/ImdbStars.png) 2x) no-repeat;width:75px;height:15px;margin:1px 0 0 0;overflow:hidden;}
.bigImdbStar45{background-position:0 -15px;}
.bigImdbStar40{background-position:0 -30px;}
.bigImdbStar35{background-position:0 -45px;}
.bigImdbStar30{background-position:0 -60px;}
.bigImdbStar25{background-position:0 -75px;}
.bigImdbStar20{background-position:0 -90px;}
.bigImdbStar15{background-position:0 -105px;}
.bigImdbStar10{background-position:0 -120px;}
.bigImdbStar5{background-position:0 -150px;}
.bigImdbStar0{background-position:0 -165px;}

/*Metacritic stars*/
.bigMetacriticStar45, .bigMetacriticStar40, .bigMetacriticStar35, .bigMetacriticStar30, .bigMetacriticStar25, .bigMetacriticStar20, .bigMetacriticStar15, .bigMetacriticStar10, .bigMetacriticStar5, .bigMetacriticStar0{display:inline-block;*display:inline;zoom:1;background:url(../../images/star/MetacriticStars.png) no-repeat;background:-webkit-image-set(url(../../images/star/MetacriticStars.png) 2x) no-repeat;background:-moz-image-set(url(../../images/star/MetacriticStars.png) 2x) no-repeat;background:-o-image-set(url(../../images/star/MetacriticStars.png) 2x) no-repeat;background:-ms-image-set(url(../../images/star/MetacriticStars.png) 2x) no-repeat;width:75px;height:15px;margin:1px 0 0 0;overflow:hidden;}
.bigMetacriticStar45{background-position:0 -15px;}
.bigMetacriticStar40{background-position:0 -30px;}
.bigMetacriticStar35{background-position:0 -45px;}
.bigMetacriticStar30{background-position:0 -60px;}
.bigMetacriticStar25{background-position:0 -75px;}
.bigMetacriticStar20{background-position:0 -90px;}
.bigMetacriticStar15{background-position:0 -105px;}
.bigMetacriticStar10{background-position:0 -120px;}
.bigMetacriticStar5{background-position:0 -150px;}
.bigMetacriticStar0{background-position:0 -165px;}


/*烂番茄*/
.bigTomato45, .bigTomato40, .bigTomato35, .bigTomato30, .bigTomato25, .bigTomato20, .bigTomato15, .bigTomato10, .bigTomato5, .bigTomato0{display:inline-block;*display:inline;zoom:1;background:url(../../images/star/tomatoStars.png) no-repeat;background:-webkit-image-set(url(../../images/star/tomatoStars.png) 2x) no-repeat;background:-moz-image-set(url(../../images/star/tomatoStars.png) 2x) no-repeat;background:-o-image-set(url(../../images/star/tomatoStars.png) 2x) no-repeat;background:-ms-image-set(url(../../images/star/tomatoStars.png) 2x) no-repeat;width:75px;height:15px;margin:1px 0 0 0;overflow:hidden;}
.bigTomato45{background-position:0 -15px;}
.bigTomato40{background-position:0 -30px;}
.bigTomato35{background-position:0 -45px;}
.bigTomato30{background-position:0 -60px;}
.bigTomato25{background-position:0 -75px;}
.bigTomato20{background-position:0 -90px;}
.bigTomato15{background-position:0 -105px;}
.bigTomato10{background-position:0 -120px;}
.bigTomato5{background-position:0 -150px;}
.bigTomato0{background-position:0 -165px;}




#stars{font-size:0;vertical-align:text-bottom;cursor:pointer;}
#stars a img{vertical-align:text-bottom;}
.starstop{margin-right:5px;}
.starstop{float:left;}
.rating_num{color:#e09015;font-size:12px;padding:0 3px;}
#interest_sectl{float:left;width:155px;margin:2px 0 0 0;padding:0 0 0 15px;border-left:1px solid #eaeaea;color:#9b9b9b;}
#interest_sectl .rating_wrap{font-size:12px;line-height:14px;}
#interest_sectl .rating_wrap .rating_logo{line-height:1;}
#interest_sectl .rating_self{padding:0;line-height:2;}
#interest_sectl .rating_self:before,#interest_sectl .rating_self:after{content:'';display:block;clear:both;}
#interest_sectl .rating_self .rating_sum{clear:both;}
#interest_sectl .rating_num{color:#494949;padding:0;min-width:30%;font-size:28px;}
#interest_sectl .rating_right{float:left;padding:10px 0 10px 6px;}
#interest_sectl .power{height:10px;float:left;margin:1px 4px;background:#ffd596 none repeat scroll 0 0;}
#interest_sectl .rating_per{font-size:11px;}
#interest_sectl .rating_betterthan{position:relative;padding:15px 0;border-top:1px solid #eaeaea;color:#9b9b9b;margin:0;}
.rating_logo_wrap .content{display:inline-block;*display:inline;zoom:1;vertical-align:top;font-size:12px;line-height:20px;color:#9b9b9b;margin-right:4px;}
.rating_helper_wrap{display:inline-block;*display:inline;zoom:1;vertical-align:top;position:relative;line-height:18px;}
.rating_helper_wrap:hover .rating_helper_icon{background-position:0 -12px;}
.rating_helper_wrap:hover .rating_helper_content{display:block;}
.rating_helper_icon{background:url(https://img3.doubanio.com/f/shire/16305b59f6b69b8acde51c880de2a5b6cde0155a/pics/icon/ic_qmark.png) no-repeat;background:-webkit-image-set(url(https://img3.doubanio.com/f/shire/16305b59f6b69b8acde51c880de2a5b6cde0155a/pics/icon/ic_qmark.png) 1x, url(https://img3.doubanio.com/f/shire/1fb4f85391f82c3286d7318d840577daae1c2eee/pics/icon/ic_qmark@2x.png) 2x) no-repeat;background:-moz-image-set(url(https://img3.doubanio.com/f/shire/16305b59f6b69b8acde51c880de2a5b6cde0155a/pics/icon/ic_qmark.png) 1x, url(https://img3.doubanio.com/f/shire/1fb4f85391f82c3286d7318d840577daae1c2eee/pics/icon/ic_qmark@2x.png) 2x) no-repeat;background:-o-image-set(url(https://img3.doubanio.com/f/shire/16305b59f6b69b8acde51c880de2a5b6cde0155a/pics/icon/ic_qmark.png) 1x, url(https://img3.doubanio.com/f/shire/1fb4f85391f82c3286d7318d840577daae1c2eee/pics/icon/ic_qmark@2x.png) 2x) no-repeat;background:-ms-image-set(url(https://img3.doubanio.com/f/shire/16305b59f6b69b8acde51c880de2a5b6cde0155a/pics/icon/ic_qmark.png) 1x, url(https://img3.doubanio.com/f/shire/1fb4f85391f82c3286d7318d840577daae1c2eee/pics/icon/ic_qmark@2x.png) 2x) no-repeat;display:inline-block;*display:inline;zoom:1;vertical-align:middle;width:12px;height:12px;}
.rating_helper_content{z-index:10;color:#494949;display:none;position:absolute;left:12px;bottom:3px;width:96px;background:#fef6e9;border:1px solid #e3d9ca;padding:8px 10px;border-radius:4px;box-shadow:0 2px 5px rgba(0,0,0,0.1);}
.rating_content_wrap{width:110%;padding-bottom:8px;}
.rating_content_wrap .rating_avg{float:left;font-size:16px;line-height:28px;color:#494949;margin-right:12px;}
.rating_content_wrap .friends{float:left;margin-right:6px;}
.rating_content_wrap .avatar{float:left;margin-top:6px;margin-right:2px;line-height:0;border-radius:50%;overflow:hidden;cursor:default;}
.rating_content_wrap .avatar img{width:16px;}
.rating_content_wrap .friends_count{float:left;line-height:14px;margin-top:7px;}
/*! CSS Used from: https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css */
html td,html .pl,html input{font-size:13px;}
html h3{font-size:15px;}
html h2{font-size:16px;}
html h1{font-size:26px;}
#wrapper{width:1040px;}
.grid-16-8 .article{width:675px;}
@media (max-width: 1024px){
  #wrapper{width:1000px;}
  /*body .grid-16-8 .article{padding-right:25px;}*/
  body .grid-16-8 .article{padding-right:5px;}
  [id^=dale_]{max-width:1000px;}
}
.subject{width:500px;}
/*.subject #mainpic{margin-right:15px;margin-bottom: 30px;}*/
.subject #mainpic{margin-right:15px;}
#info{max-width:333px;}
/*! CSS Used from: Embedded */
img{max-width:100%;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/4ed34a7564f61c0f.css */
/*#content h2{color:#007722;}*/
#content h2{color: #f7097a;}
.indent{*zoom:1;
  /*margin-bottom:30px;*/
}
.related-info h2,.related-pic h2,#recommendations h2{margin:24px 0 3px 0;}
.comment_btn{display:inline-block;height:auto;color:#ca6445;background:#fae9da;border-radius:2px;float:right;line-height:13px;padding:7px 12px;}
.comment_btn:before{content:'';background:no-repeat url(https://img3.doubanio.com/f/movie/2b420e1750aba8cf053de75b4a5b6fed5438c64b/pics/movie/write.png) center/contain;width:13px;height:13px;float:left;margin-right:4px;}
.comment_btn:link,.comment_btn:visited{color:#ca6445;background:#fae9da;}
.comment_btn:hover,.comment_btn:active{color:#d9896a;background:#fcefe3;}
.year{display:inline-block;zoom:1;}
.bs li{position:relative;}
.bs li:last-of-type{border:none;}
#mainpic img{max-width:135px;}
.section-discussion table tr .pl{padding:8px 3px 8px 0;}
.article .related-info h2,#celebrities h2,.related-pic h2,#recommendations h2{margin-bottom:12px;}
.top250{background:url('https://img3.doubanio.com/f/movie/f8a7b5e23d00edee6b42c6424989ce6683aa2fff/pics/movie/top250_bg.png') no-repeat;width:150px;font:12px Helvetica,Arial,sans-serif;margin:5px 0;color:#744900;}
.top250:hover{background:url('https://trello-attachments.s3.amazonaws.com/552cbffa8418c2f38c712ba2/150x18/fbd1d42bca4218c672946bf2911aec44/%E8%B1%86%E7%93%A3%E7%94%B5%E5%BD%B1TOP250-%E8%83%8C%E6%99%AFhover4.png') no-repeat;}
.top250 span{display:inline-block;text-align:center;height:18px;line-height:18px;}
.top250 a,.top250 a:link,.top250 a:visited{color:#744900;text-decoration:none;background:none;height:100%;display:inline-block;width:100%;}
.top250 a:hover,.top250 a:active{color:#6B4400;text-decoration:none;background:none;}
.top250-no{width:34%;}
.top250-link{width:66%;}
.more-actor,.more-actor:link{color:#aaa;}
.more-actor:hover{color:#fff;background:#aaa;}
#interest_sectl .rating_wrap .output-btn-wrap{line-height:1;margin-right:27px;display:none;}
#interest_sectl .rating_wrap .output-btn-wrap img{width:12px;height:12px;vertical-align:top;}
#interest_sectl .rating_wrap:hover .output-btn-wrap{display:block;}
.minisubmit{color:#bbb;vertical-align:baseline;}
.minisubmit:hover{color:#fff;background-color:#bbb;}
.lnk-doulist-add i{display:inline-block;*display:inline;zoom:1;width:10px;height:16px;vertical-align:middle;overflow:hidden;background:#fff url(https://img3.doubanio.com/f/sns/61cc48ba7c40e0272d46bb93fe0dc514f3b71ec5/pics/add-doulist.gif) no-repeat 0 2px;margin-top:-3px;}
#celebrities *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#celebrities .celebrities-list.__oneline{font-size:0;}
#celebrities .celebrities-list.__oneline li{display:inline-block;vertical-align:top;width:95px;font-size:13px;margin-left:21px;}
#celebrities .celebrities-list.__oneline li:first-child{margin-left:0;}
#celebrities .celebrities-list.from-subject li .info{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
#celebrities .celebrities-list.from-subject li:first-child .avatar{margin-left:0;}
#celebrities .celebrities-list.from-subject li:first-child .info>span:not(.works){width:90px;}
#celebrities .celebrities-list .avatar{margin:0 auto;height:133px;background-repeat:no-repeat;background-size:95px 133px;background-position:center;}
#celebrities .celebrities-list .info{margin:6px auto 0;display:block;text-align:center;}
#celebrities .celebrities-list .info>span:not(.works){overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:block;width:95px;color:#9b9b9b;}
#celebrities .celebrities-list .info a.name:hover{background:#37a;color:white;}
#celebrities .celebrities-list .info span.name a{color:#111;}
.related-pic{margin-bottom:30px;}
.related-pic-bd{text-align:justify;text-justify:distribute;-ms-text-justify:distribute;font-size:0;}
.related-pic-bd>*{display:inline-block;}
.related-pic-bd:after{content:"";width:100%;display:inline-block;}
.related-pic-bd li{display:inline-block;vertical-align:top;height:115px;}
.related-pic-bd img{width:115px;height:115px;}
.related-pic-video{position:relative;display:block;width:203px;overflow:hidden;background-repeat:no-repeat;background-position:center;background-size:cover;height:100%;}
.related-pic-video:hover{background-repeat:no-repeat;background-position:center;background-size:cover;}
.related-pic-video:after{content:"";background-image:url(https://img3.doubanio.com/f/movie/8e40329a1c8ce35415861dd848eab6c9f50292a7/pics/movie/play-black.png);position:absolute;width:40px;height:40px;left:0;top:0;bottom:0;right:0;margin:auto;background-repeat:no-repeat;background-position:center;background-size:cover;}
.related-pic-video:before{content:"";position:absolute;background-color:rgba(0,0,0,0.2);top:0;left:0;width:100%;height:100%;}
.wide_videos .related-pic-video{width:217px;}
.label-trailer,.label-short-video{position:relative;}
.label-trailer:after,.label-short-video:after{color:#fff;height:12px;top:4px;position:absolute;left:4px;font-weight:500;border-radius:2px;font-size:12px;padding:4px;line-height:12px;-ms-transform:scale(0.8);-moz-transform:scale(0.8);-webkit-transform:scale(0.8);transform:scale(0.8);-ms-transform-origin:left top;-moz-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;}
.label-trailer:after{content:'预告片';background-color:#e48f1f;}
.label-short-video:after{content:'视频评论';background-color:#000000;}
#recommendations .recommendations-bd{margin-right:-25px;letter-spacing:-0.31em;*letter-spacing:normal;}
#recommendations .recommendations-bd dl{display:inline-block;*display:inline;*zoom:1;vertical-align:top;letter-spacing:normal;word-spacing:normal;letter-spacing:normal;margin:0 25px 15px 0;overflow:hidden;}
#recommendations .recommendations-bd dt,#recommendations .recommendations-bd dd{width:115px;}
#recommendations .recommendations-bd dt{height:161px;margin-bottom:8px;overflow:hidden;}
#recommendations .recommendations-bd dd{font-size:13px;text-align:center;}
.fold-hd{position:relative;padding:15px 0;margin-bottom:15px;}
.fold-hd::before{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#ddd;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.fold-hd a:link{color:#ccc;}
.fold-hd a:visited{color:#ccc;background:none;}
.fold-hd a:hover{color:#3377AA;background:none;}
.fold-hd a:active{color:#3377AA;background:none;}
.fold-bd{display:none;}
.qa{float:right;}
div.comment-item{position:relative;margin:0;padding:20px 0 25px;overflow:hidden;font-size:13px;*zoom:1;}
div.comment-item::before{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#ddd;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
div.comment-item h3{background:none;font-size:13px;height:auto;margin:0;padding:0;color:#494949;margin-bottom:5px;*zoom:1;}
div.comment-item .comment{overflow:hidden;line-height:1.5;color:#494949;*zoom:1;word-wrap:break-word;}
div.comment-item .comment p{margin:0;}
div.comment-item .comment-vote{float:right;}
.comment-time{color:#aaa;}

#comments-section{margin-bottom:20px;}
#comments-section .mod-hd{margin-top:16px;overflow:hidden;*zoom:1;}
#comments-section .mod-hd h2{margin-top:0;}
#comments-section .comment-item{padding:14px 0;}
#comments-section .comment-item:last-of-type:before{height:0;}

#book-comments-section{margin-bottom:20px;}
#book-comments-section .mod-hd{margin-top:16px;overflow:hidden;*zoom:1;}
#book-comments-section .mod-hd h2{margin-top:0;}
#book-comments-section .comment-item{padding:14px 0;}
#book-comments-section .comment-item:last-of-type:before{height:0;}

#playlists-section{margin-bottom:30px;}
#playlists-section .mod-hd{margin-top:16px;overflow:hidden;*zoom:1;}
#playlists-section .mod-hd h2{margin-top:0;}
#playlists-section .comment-item{padding:14px 0;}
#playlists-section .comment-item:last-of-type:before{height:0;}

#albums-section{margin-bottom:30px;}
#albums-section .mod-hd{margin-top:16px;overflow:hidden;*zoom:1;}
#albums-section .mod-hd h2{margin-top:0;}
#albums-section .comment-item{padding:14px 0;}
#albums-section .comment-item:last-of-type:before{height:0;}

#songs-section{margin-bottom:30px;}
#songs-section .mod-hd{margin-top:16px;overflow:hidden;*zoom:1;}
#songs-section .mod-hd h2{margin-top:0;}
#songs-section .comment-item{padding:14px 0;}
#songs-section .comment-item:last-of-type:before{height:0;}

.qa-tip{display:none;line-height:22px;}
.qa-tip a:link{color:#3377AA;}
.tab-hd{padding-bottom:15px;position:relative;}
.tab-hd::before{content:'';position:absolute;left:0;bottom:0;width:100%;height:1px;background:#ddd;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.tab-hd .on:link,.tab-hd .on:visited,.tab-hd .on:hover,.tab-hd .on:active{background:none;color:#111;}
#new-comments,#following-comments{display:none;}
#askmatrix{margin-bottom:30px;}
#askmatrix .mod-hd{overflow:hidden;zoom:1;}
#askmatrix .mod-hd h2{float:left;}
#askmatrix li{border-bottom:1px dashed #ddd;padding-bottom:8px;margin-bottom:8px;zoom:1;overflow:hidden;}
#askmatrix li .tit{float:left;}
#askmatrix li .meta{float:right;color:#666;}
.gray_ad{position:relative;}
.gray_ad h2{margin-bottom:6px;}
.gray_ad .report-error{color:#999;display:none;position:absolute;top:10px;right:10px;background:transparent;}
.gray_ad:hover .report-error{display:inline;}
.bs li a{margin-left:6px;}
.buylink-price{left:130px;position:absolute;color:#999;}
.tags{margin-bottom:30px;}
.tags-body{line-height:24px;letter-spacing:-0.31em;*letter-spacing:normal;}
.tags-body a{display:inline-block;*display:inline;letter-spacing:normal;margin:0 8px 8px 0;padding:0 8px;background-color:#f5f5f5;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;}
.tags-body a:link,.tags-body a:visited{background-color:#f5f5f5;color:#37A;}
.tags-body a:hover,.tags-body a:active{background-color:#e8e8e8;color:#37A;}
#subject-doulist{margin-bottom:40px;word-wrap:break-word;}
#subject-doulist ul{border-top:1px dashed #DDD;}
#subject-doulist li{padding:4.5px 0;border-bottom:1px dashed #DDD;}
#subject-doulist li span{line-height:1.5;color:#666;}
#subject-others-interests{margin-bottom:40px;word-wrap:break-word;}
#subject-others-interests ul{margin-top:-10px;margin-bottom:10px;}
#subject-others-interests li{overflow:hidden;*zoom:1;padding:12px 0;border-bottom:1px dashed #DDD;line-height:1.5;color:#666;}
#subject-others-interests .others-interest-avatar{float:left;margin-right:12px;}
#subject-others-interests .others-interest-info{overflow:hidden;*zoom:1;}
/*! CSS Used from: Embedded */
.bn-sharing{padding-right:10px;background-image:url(//img3.doubanio.com/pics/a1.png)!important;background-repeat:no-repeat!important;background-position:100% -19px!important;*display:inline-block;}
a.bn-sharing:hover{text-decoration:underline;}
/*! CSS Used from: https://img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css */
td{font:12px Helvetica,Arial,sans-serif;line-height:1.62;}
input{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
ul{list-style-type:none;margin:0;padding:0;}
ul{list-style:none;}
input{font-size:12px;margin-right:3px;vertical-align:middle;}
a{cursor:pointer;}
form{margin:0;padding:0;border:0px;}
/*! CSS Used from: https://img3.doubanio.com/f/verify/16c7e943aee3b1dc6d65f600fcc0f6d62db7dfb4/entry_creator/dist/author_subject/style.css */
.author-subject{margin-bottom:40px;}
/*! CSS Used from: Embedded */
.award li{display:inline;margin-right:5px;}
.mod{margin-bottom:25px;}
.mod .hd{margin-bottom:10px;}
.mod .hd h2{margin:24px 0 3px 0;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/73ed658484f98d44.css */
*:active{outline:none;}
.hidden{display:none;}
#wrapper{color:#111;}
#footer{font-size:12px;}
.feed{font-size:12px;}
.fold-hd{padding:15px 0;margin-bottom:15px;}
.fold-hd a:link,.fold-hd a:visited{color:#ccc;}
.fold-hd a:visited{background:none;}
.fold-hd a:hover,.fold-hd a:active{color:#3377AA;background:none;}
.fold-bd{display:none;}
.qa{float:right;}
.qa-tip{display:none;line-height:22px;}
.qa-tip a:link{color:#3377AA;}
.article img{max-width:100%;}
.main .main-hd{margin-bottom:20px;line-height:1.4;font-size:13px;color:#999;overflow:hidden;}
.main .main-hd{padding-top:4px;}
.main .main-meta{margin:0 0 0 5px;color:#999;}
.main .main-bd{word-wrap:break-word;}
.comment-item{margin-bottom:16px;font-size:12px;word-break:break-word;}
::-webkit-input-placeholder{color:#ccc;}
.review_filter{margin:18px 0;}
.review_filter .cur{color:#494949;}
.review_filter .cur:hover{color:#494949;background-color:#fff;}
.feed{background-size:15px;}
.review-list{margin-top:20px;}
.review-list .review-item{padding:20px 0px;position:relative;}
.review-list .review-item:after{content:'';display:block;position:absolute;top:0;left:0;width:100%;height:1px;background-color:#ddd;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);}
.review-list .review-item .main-hd{padding:0;margin-bottom:0;height:24px;font-size:0;}
.review-list .review-item .main-hd .name,.review-list .review-item .main-hd .main-meta{font-size:13px;margin-left:10px;}
.review-list .review-item .main-hd .name,.review-list .review-item .main-hd .main-meta,.review-list .review-item .main-hd .main-title-rating{vertical-align:middle;}
.review-list .review-item .main-hd .main-title-rating{margin-left:2px;position:relative;top:-2px;}
.review-list .review-item .main-bd{margin:10px 0 0 0;padding:0;}
.review-list .review-item .main-bd h2{font-size:14px;margin-bottom:10px;margin-top:0;}
.review-list .review-item .main-bd .spoiler-tip{color:#9b9b9b;margin:0 0 5px 0;padding-left:8px;line-height:1;position:relative;}
.review-list .review-item .main-bd .spoiler-tip:before{content:'';position:absolute;top:0;left:0;width:1px;height:100%;background-color:#494949;-webkit-transform:scaleX(1.4);transform:scaleX(1.4);}
.review-list .review-item .main-bd .action{margin-top:18px;}
.review-list .review-item .main-bd .action .action-btn{color:#3377aa;padding:4px 6px;margin-right:4px;border-radius:2px;background-color:#f0f7f9;display:inline-block;line-height:1;}
.review-list .review-item .main-bd .action .action-btn img{width:12px;}
.review-list .review-item .main-bd .action .action-btn span{font-size:12px;}
.review-list .review-item .main-bd .action .reply{font-size:13px;margin-left:10px;}
.review-list .review-item .main-bd .action .fold{float:right;color:#aaaaaa;background-color:#fff;}
.review-list .review-item .main-bd .action .fold:hover{color:#aaaaaa;background-color:#fff;}
.review-list .review-item .review-short{color:#494949;overflow:hidden;word-break:break-word;margin:0;cursor:pointer;}
.review-list .main-meta{font-weight:300;color:#999;}
.review-list .full-content{margin:0;}
header{position:relative;}
.hide{display:none;}
/*! CSS Used from: https://img3.doubanio.com/f/ithildin/f731c9ea474da58c516290b3a6b1dd1237c07c5e/css/export/subject_topics.css */
#content .comment_btn{color:#C65E24;background-color:rgba(198,94,36,0.15);height:auto;padding:7px 12px;line-height:13px;float:right;}
#content .comment_btn span{height:13px;line-height:13px;font-size:13px;}
.topics .gallery_topics{color:#333;}
.topics .topic-guide{display:none;position:relative;color:#333;background:rgba(58,162,83,0.1);border-radius:10px;padding:20px;margin-bottom:20px;}
.topics .topic-guide .ic_question{display:inline-block;float:left;width:16px;height:16px;margin:3px 8px 0 0;}
.topics .topic-guide .tip_content{overflow:hidden;}
.topics .topic-guide .tip_content .tip_title{font-size:16px;color:#3AA253;}
.topics .topic-guide .tip_content .tip_desc{font-size:13px;margin-top:8px;}
.topics .topic-guide .ic_guide{position:absolute;width:36px;height:83px;top:48px;left:-20px;}
.topics .topic-guide .ic_close{position:absolute;width:12px;height:12px;top:22px;right:22px;cursor:pointer;}
.topics .topic-block .meta{position:relative;}
.topics .topic-block .meta .title{font-size:16px;}
.topics .topic-block .meta .count{margin-top:4px;display:block;font-size:13px;line-height:16px;color:#999999;}
.topics .topic-block .meta .count .write_review{color:#C65E24;background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAMAAADW3miqAAAAb1BMVEUAAADeeTbHXyXKYyfHXybIYCbLYSfHXyTHXiTHXiXHXyTHXyXIXyTKYSfNZijGXyTGXiXHXiTHXyTHXyTHXyTHXyTHXiXIXyXKYSfaaC/IXyXHXyXHXiXHXyXGXiTHXyTIXiXKXyXKYSjGXibGXiQ8QUbBAAAAJHRSTlMABIcgUEkb8O7ryMFTJBT45s65nZWPeVktCXxk89/TsW8+OjbcJ4/6AAAAwElEQVQ4y62Txw7CMBAFnZDeC+l03v9/I9isxMnPIJhDTiNl7PWqX5kvW+Vy9gAOBXd8aOodc0K8GJlUdTD4ijIaKbALa/j8XBugtTsB4Hv6l3FpdXYJgDzSV2V1vAyaNFSEAcLGggQeJBQsSBjYWIXMszoFhMQ+2TI2Bh3H0v4paPoqKKRBzofWQ8g/CEojZeXoDlIBDRJyd5CaaZDQi3Njq1gb50SXejXOeWGO17zPRZ9aPSnn2jd35SDqenb0B1vBIpBp3l28AAAAAElFTkSuQmCC");background-repeat:no-repeat;background-size:12px;background-position:0px 1px;padding-left:14px;}
.topics .topic-block .meta .count .write_review:hover{background-color:#fff;}
.topics .topic-block .meta .count .write_review:hover span{background-color:#C65E24;color:#fff;}
.topics .topic-block .posts{margin:20px 0 30px;padding-left:20px;border-left:2px solid #EDEDED;}
.topics .topic-item{margin-bottom:20px;font-size:13px;}
.topics .topic-item .item-meta::after{clear:both;content:"";display:table;}
.topics .topic-item .item-meta .avator_a{display:block;font-size:0!important;}
.topics .topic-item .item-meta .avator{width:20px;height:20px;}
.topics .topic-item .item-meta .time{color:#999999;}
.topics .topic-item .item-meta .avator_a,.topics .topic-item .item-meta .author,.topics .topic-item .item-meta .time{float:left;line-height:20px;margin-right:8px;}
.topics .topic-item .abstract{margin:8px 0;line-height:21px;color:#333333;display:block;word-wrap:break-word;}
.topics .topic-item .abstract:hover{color:#333333;background-color:#fff;}
.topics .topic-item .action{font-size:13px;line-height:18px;color:#999999;}
.topics .topic-item .action .item{margin-right:16px;}



/*字体*/
.attrs {
  font-size: 13px;
}

.subject #mainpic {
  margin-right: 15px;
  margin-bottom: 65px;
}

.review-short {
  font-size: 13px;
  text-indent: 26px;
}

/*summary换行*/
.summary {
  font-size: 13px;
  text-indent: 26px;
  white-space: pre-line;
}

.article .related-info h2, #celebrities h2, .related-pic h2, #recommendations h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.related-pic {
  margin-top: 20px;
  margin-bottom: 20px;
}

.related-celebrities {
  margin-top: 20px;
}

.pl {
  color: #0aa236;
}

#interest_sectl .rating_num {
  color: #f7097a;
}

/*aside*/
.mainpicforbook{float:left;text-align:center;margin:0 12px 10px 0;height: auto;max-width:75px;max-height: 120px;overflow:hidden;}
/*! CSS Used from: https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css */
div,ul,li,h2{margin:0;padding:0;}
i{font-style:normal;font-weight:normal;}
ul{list-style:none;}
h2{font-size:100%;font-weight:normal;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#669;text-decoration:none;}
a:hover{color:#fff;text-decoration:none;background:#37a;}
a:active{color:#fff;text-decoration:none;background:#f93;}
.grid-16-8 .aside{float:right;width:310px;padding-left: 5px}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#666699;text-decoration:none;}
a:hover{color:#FFFFFF;text-decoration:none;background:#37a;}
a:active{color:#FFFFFF;text-decoration:none;background:#FF9933;}
ul{list-style-type:none;margin:0;padding:0;}
h2{font:15px Arial, Helvetica, sans-serif;color:#072;margin:0 0 12px 0;line-height:150%;}
.pl{font:12px Arial, Helvetica, sans-serif;}
/*! CSS Used from: https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css */
html .pl{font-size:13px;}
html h2{font-size:16px;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/4ed34a7564f61c0f.css */
#content h2{color:#007722;}
/*! CSS Used from: https://img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css */
ul{list-style-type:none;margin:0;padding:0;}
ul{list-style:none;}
a{cursor:pointer;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/72c832a012d60695.css */
*:active{outline:none;}
::-webkit-input-placeholder{color:#ccc;}

.resourceTitle{
  background-color: white;color:#f7097a;border-color: #afa4a4;border-bottom: 1px solid;
}
.resourceNext{
  border-bottom: 1px solid;border-bottom-color: #c0c0c0;border-top-color:white;
}
