/*! CSS Used from: https://img3.doubanio.com/f/shire/bf61b1fa02f564a4a8f809da7c7179b883a56146/css/douban.css */
div,ul,li,form,fieldset,legend,input{margin:0;padding:0;}
fieldset{border:0;}
ul{list-style:none;}
legend{color:#000;}
input{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
input{*font-size:100%;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#669;text-decoration:none;}
a:hover{color:#fff;text-decoration:none;background:#37a;}
a:active{color:#fff;text-decoration:none;background:#f93;}
fieldset{border:1px solid #ddd;padding:0 10px;margin-bottom:15px;}
fieldset legend{color:#666;padding:0 5px;}
input{margin-right:3px;vertical-align:middle;}
label{font-family:Tahoma;vertical-align:middle;}
form{margin:0;padding:0;border:0px;}
input{font-size:12px;}
a{cursor:pointer;}
a:link{color:#37a;text-decoration:none;}
a:visited{color:#666699;text-decoration:none;}
a:hover{color:#FFFFFF;text-decoration:none;background:#37a;}
a:active{color:#FFFFFF;text-decoration:none;background:#FF9933;}
ul{list-style-type:none;margin:0;padding:0;}
/*! CSS Used from: https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css */
html input{font-size:13px;}
/*! CSS Used from: https://img3.doubanio.com/dae/accounts/resources/0246c88/movie/bundle.css */
input{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
ul{list-style-type:none;margin:0;padding:0;}
ul{list-style:none;}
input{font-size:12px;margin-right:3px;vertical-align:middle;}
a{cursor:pointer;}
.nav{width:100%;min-width:1040px;overflow:hidden;zoom:1;margin-bottom:20px;}
.nav .nav-wrap{border-bottom:1px solid #e5ebe4;}
.nav .nav-primary{width:1040px;margin:0 auto;overflow:visible!important;position:relative;padding:10px 0 5px;zoom:1;}
.nav .nav-logo{float:left;height:45px;width:150px;}
/*.nav .nav-logo{float:left;height:45px;width:175px;margin:0 5px 0 0;}*/
/*.nav .nav-logo a{display:block;width:100%;height:100%;line-height:100em;}*/
/*.nav .nav-logo a:hover,.nav .nav-logo a:active{background:none!important;}*/
legend{color:#000;}
label{font-family:Tahoma;vertical-align:middle;}
fieldset{border:1px solid #ddd;padding:0 10px;margin-bottom:15px;}
fieldset legend{color:#666;padding:0 5px;}
.nav-search{margin-left:145px;overflow:visible!important;position:relative;zoom:1;padding:10px 0 15px 0;}
.nav-search fieldset{border:none;padding:0;margin:0;position:static;}
.nav-search legend{display:none;}
.nav-search label{position:absolute;left:11px;top:10px;line-height:30px;cursor:text;color:#bbb;width:auto;}
.nav-search .inp{float:left;width:470px;height:34px;text-align:center;margin-right:-3px;cursor:text;}
.nav-search .inp input{background:#fff;width:92%;margin:0;text-align:left;height:30px;padding-left:10px;height:28px\9;line-height:28px\9;outline:none;}
.nav-search input{-webkit-appearance:none;border:none;background:transparent;}
.nav-search .inp-btn{position:relative;left:-1px;width:37px;height:34px;zoom:1;overflow:hidden;}
.nav-search .inp-btn input{width:100%;height:100%;font-size:0;padding:35px 0 0 0;overflow:hidden;color:transparent;cursor:pointer;}
form{margin:0;padding:0;border:0px;}
.nav-secondary{width:1040px;margin:0 auto;padding-bottom:0;overflow:hidden;zoom:1;}
.nav-secondary .nav-items{float:none;zoom:1;font-size:14px;}
.nav-secondary:after{content:'\0020';display:block;clear:both;}
.nav-secondary ul{margin:9px 0;}
.nav-secondary li{display:inline;margin-right:25px;}
@media (max-width: 1024px){
  .nav{min-width:1024px;}
  .nav .nav-primary,.nav .nav-secondary{width:1000px;}
}
#db-nav-movie{position:relative;background-color:#e3f5f4;}
#db-nav-movie .nav-wrap{border-color:#e3ebec;}
#db-nav-movie a:link,#db-nav-movie a:visited{color:#27a;text-decoration:none;}
#db-nav-movie a:active,#db-nav-movie a:hover{background-color:#27a;color:#fff;}
#db-nav-movie a.movieannual2018{position:absolute;width:186px;height:96px;top:10px;left:50%;margin-left:200px;background:url(//img3.doubanio.com/dae/accounts/resources/0246c88/movie/assets/annual_2018.png) center/contain no-repeat;}
#db-nav-movie a.movieannual2018:hover,#db-nav-movie a.movieannual2018:visited,#db-nav-movie a.movieannual2018:active{background-color:transparent;}
.nav-search .inp{background-image:url(//img3.doubanio.com/dae/accounts/resources/0246c88/movie/assets/nav_mv_bg.png?s=1);}
.nav-search .inp-btn input{background:url(//img3.doubanio.com/dae/accounts/resources/0246c88/movie/assets/nav_mv_bg.png?s=1) no-repeat 0 -40px;}
/*! CSS Used from: https://img3.doubanio.com/misc/mixed_static/73ed658484f98d44.css */
*:active{outline:none;}
::-webkit-input-placeholder{color:#ccc;}

.selectback {
  background-color: #c7cbff !important;
  cursor: pointer
}

