<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.common.mapper.CelebrityImdbMapper">
  <resultMap id="BaseResultMap" type="org.humingk.common.entity.CelebrityImdb">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="name_en" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="birth_year" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="id_celebrity_douban" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name_en, birth_year, id_celebrity_douban
  </sql>
  <select id="selectByExample" parameterType="org.humingk.common.entity.CelebrityImdbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from celebrity_imdb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from celebrity_imdb
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from celebrity_imdb
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.common.entity.CelebrityImdbExample">
    delete from celebrity_imdb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.common.entity.CelebrityImdb">
    insert into celebrity_imdb (id, name_en, birth_year, 
      id_celebrity_douban)
    values (#{id,jdbcType=BIGINT}, #{nameEn,jdbcType=VARCHAR}, #{birthYear,jdbcType=SMALLINT}, 
      #{idCelebrityDouban,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.common.entity.CelebrityImdb">
    insert into celebrity_imdb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="birthYear != null">
        birth_year,
      </if>
      <if test="idCelebrityDouban != null">
        id_celebrity_douban,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null">
        #{birthYear,jdbcType=SMALLINT},
      </if>
      <if test="idCelebrityDouban != null">
        #{idCelebrityDouban,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.common.entity.CelebrityImdbExample" resultType="java.lang.Long">
    select count(*) from celebrity_imdb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update celebrity_imdb
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nameEn != null">
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.birthYear != null">
        birth_year = #{record.birthYear,jdbcType=SMALLINT},
      </if>
      <if test="record.idCelebrityDouban != null">
        id_celebrity_douban = #{record.idCelebrityDouban,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update celebrity_imdb
    set id = #{record.id,jdbcType=BIGINT},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      birth_year = #{record.birthYear,jdbcType=SMALLINT},
      id_celebrity_douban = #{record.idCelebrityDouban,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.humingk.common.entity.CelebrityImdb">
    update celebrity_imdb
    <set>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="birthYear != null">
        birth_year = #{birthYear,jdbcType=SMALLINT},
      </if>
      <if test="idCelebrityDouban != null">
        id_celebrity_douban = #{idCelebrityDouban,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.humingk.common.entity.CelebrityImdb">
    update celebrity_imdb
    set name_en = #{nameEn,jdbcType=VARCHAR},
      birth_year = #{birthYear,jdbcType=SMALLINT},
      id_celebrity_douban = #{idCelebrityDouban,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>