<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.service.common.mapper.UserDoubanToReviewMovieDoubanMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDouban">
    <constructor>
      <idArg column="id_user_douban" javaType="java.lang.String" jdbcType="VARCHAR" />
      <idArg column="id_review_movie_douban" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_user_douban, id_review_movie_douban
  </sql>
  <select id="selectByExample" parameterType="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDoubanExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_douban_to_review_movie_douban
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_douban_to_review_movie_douban
    where id_user_douban = #{idUserDouban,jdbcType=VARCHAR}
      and id_review_movie_douban = #{idReviewMovieDouban,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDoubanExample">
    delete from user_douban_to_review_movie_douban
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDouban">
    insert into user_douban_to_review_movie_douban (id_user_douban, id_review_movie_douban)
    values (#{idUserDouban,jdbcType=VARCHAR}, #{idReviewMovieDouban,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDouban">
    insert into user_douban_to_review_movie_douban
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idUserDouban != null">
        id_user_douban,
      </if>
      <if test="idReviewMovieDouban != null">
        id_review_movie_douban,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idUserDouban != null">
        #{idUserDouban,jdbcType=VARCHAR},
      </if>
      <if test="idReviewMovieDouban != null">
        #{idReviewMovieDouban,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.movie.service.common.entity.UserDoubanToReviewMovieDoubanExample" resultType="java.lang.Long">
    select count(*) from user_douban_to_review_movie_douban
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_douban_to_review_movie_douban
    <set>
      <if test="record.idUserDouban != null">
        id_user_douban = #{record.idUserDouban,jdbcType=VARCHAR},
      </if>
      <if test="record.idReviewMovieDouban != null">
        id_review_movie_douban = #{record.idReviewMovieDouban,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_douban_to_review_movie_douban
    set id_user_douban = #{record.idUserDouban,jdbcType=VARCHAR},
      id_review_movie_douban = #{record.idReviewMovieDouban,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>