<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--组件扫描-->
    <context:component-scan base-package="org.humingk.movie.realm"></context:component-scan>

    <!--手动将shiroService、userService注入MyRealm-->
    <bean id="shiroService" class="org.humingk.movie.service.impl.ShiroServiceImpl"></bean>


    <!--启用shiro注解-->
    <!--在 spring-MVC 中启用-->
    <!--因为spring先执行context再执行servlet-->


    <!--1 myRealm-->
    <bean id="myRealm" class="org.humingk.movie.realm.MyRealm">
        <property name="shiroService" ref="shiroService"></property>
        <!--<property name="userService" ref="userService"></property>-->

        <!--MD5加密-->
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <!-- MD5 -->
                <property name="hashAlgorithmName" value="MD5"/>
                <!-- 加密次数 -->
                <property name="hashIterations" value="2"/>
            </bean>
        </property>
    </bean>


    <!--2 配置session管理器-->
    <!--<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">-->
    <!--&lt;!&ndash;session 设置过期时间 单位 毫秒-->
    <!--3600000 = 1 Hour&ndash;&gt;-->
    <!--<property name="globalSessionTimeout" value="5000"></property>-->

    <!--</bean>-->

    <!--3 配置rememberMe管理器-->
    <!--下一次访问无需登录-->
    <bean id="remenberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!--cookie加密 AES-->
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}"/>
        <!--remenberMe cookie 超时设置-->
        <property name="cookie" ref="rememberMeCookie"></property>
    </bean>

    <!--4. rememberMeCookie 配置-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe"></constructor-arg>
        <property name="path" value="/"></property>
        <property name="httpOnly" value="true"></property>
        <!--设置超时时间 单位 秒-->
        <!--86400       = 1     day -->
        <!--2592000     = 30    day-->
        <property name="maxAge" value="31104000"></property>
    </bean>

    <!--5. 添加 记住我功能设置session-->
    <!--<bean id="rememberMeFilter" class="org.humingk.movie.config.RememberMeFilter">-->

    <!--</bean>-->

    <!--6. 配置cache管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:spring/ehcache-shiro.xml">
        </property>
    </bean>

    <!--7. 配置session管理器-->
    <!--<bean id="sessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">-->
        <!--3600000  = 1 hour-->
        <!--<property name="globalSessionTimeout" value="7200000"/>-->
    <!--</bean>-->

    <!--8. 配置安全管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--1 注入myRealm-->
        <property name="realm" ref="myRealm"/>
        <!--2 注入remenberMe-->
        <property name="rememberMeManager" ref="remenberMeManager"></property>
        <!--3 注入session-->
        <!--<property name="sessionManager" ref="sessionManager"></property>-->
        <!--4 注入 cache-->
        <property name="cacheManager" ref="cacheManager"></property>

    </bean>


    <!-- 配置Shiro过滤器，id对应web.xml -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- 注入security 管理器 -->
        <property name="securityManager" ref="securityManager"/>
        
        <!--注入自定义rememberMeFilters-->
        <!--<property name="filters">-->
            <!--<map>-->
                <!--&lt;!&ndash;rememberMeFilter&ndash;&gt;-->
                <!--&lt;!&ndash;<entry key="rememberMe" value-ref="rememberMeFilter"></entry>&ndash;&gt;-->
            <!--</map>-->
        <!--</property>-->
        
        <!-- 身份认证失败，跳转到登录页面的配置 -->
        <property name="loginUrl" value="/login"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <!--<property name="unauthorizedUrl" value="/unauthor"/>-->
        <!-- Shiro连接约束配置,过滤链的定义 -->
        <property name="filterChainDefinitions">
            <!--url=拦截器[参数]，拦截器-->
            <!---->
            <!--
            “/authenticated.jsp = authc”
                表示访问该地址用户必须身份验证通过（Subject. isAuthenticated()==true）
            “/** = user”
                表示访问该地址的用户是身份验证通过或 RememberMe 登录的都可以-->
            <value>
                # anon 匿名 不需要认证
                /login/** = anon
                /subject/** = anon
                /celebrity/** = anon
                /search/** = anon
                /noPermission/**= anon
                /autoRefush/** = anon
                /errorPage/** = anon
                /tag/** = anon
                /index/** = anon
                /head/** = anon
                /unauthor/** = anon

                # anon 静态资源 不需要认证
                /css/** = anon
                /js/** = anon
                /images/** = anon


                # 注册用户 才能访问
                <!--/people/** = authc, roles[user]-->
                <!--/people/** = roles[user,admin],rememberMe-->
                /people/** = roles[user,admin]

                # 管理员 才能访问
                /admin/** = authc,roles[admin]

            </value>
        </property>
    </bean>

    <!--生命周期-->
    <!-- 保证Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>