<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.KeywordMoviefromMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.KeywordMoviefrom">
    <id column="keyword_content" jdbcType="CHAR" property="keywordContent" />
    <id column="moviefrom_url" jdbcType="VARCHAR" property="moviefromUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from keyword_moviefrom
    where keyword_content = #{keywordContent,jdbcType=CHAR}
      and moviefrom_url = #{moviefromUrl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.KeywordMoviefrom">
    insert into keyword_moviefrom (keyword_content, moviefrom_url)
    values (#{keywordContent,jdbcType=CHAR}, #{moviefromUrl,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select keyword_content, moviefrom_url
    from keyword_moviefrom
  </select>
</mapper>