<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.KeywordResourcelistMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.KeywordResourcelist">
    <id column="keyword_id" jdbcType="INTEGER" property="keywordId" />
    <id column="resourcelist_id" jdbcType="INTEGER" property="resourcelistId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from keyword_resourcelist
    where keyword_id = #{keywordId,jdbcType=INTEGER}
      and resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.KeywordResourcelist">
    insert into keyword_resourcelist (keyword_id, resourcelist_id)
    values (#{keywordId,jdbcType=INTEGER}, #{resourcelistId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select keyword_id, resourcelist_id
    from keyword_resourcelist
  </select>
</mapper>