<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieWriterMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieWriter">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="writer_id" jdbcType="INTEGER" property="writerId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_writer
    where movie_id = #{movieId,jdbcType=INTEGER}
      and writer_id = #{writerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieWriter">
    insert into movie_writer (movie_id, writer_id)
    values (#{movieId,jdbcType=INTEGER}, #{writerId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, writer_id
    from movie_writer
  </select>

  <!--===================-->

  <!--根据movieAll更新关联表-->
  <insert id="updateMovieWriterByMovieAll">
    insert ignore
    into movie_writer(movie_id, writer_id)
    values (#{movieId,jdbcType=INTEGER}, #{writerId,jdbcType=INTEGER})
  </insert>

</mapper>