<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieLeadingactorMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieLeadingactor">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="leadingactor_id" jdbcType="INTEGER" property="leadingactorId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_leadingactor
    where movie_id = #{movieId,jdbcType=INTEGER}
      and leadingactor_id = #{leadingactorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieLeadingactor">
    insert into movie_leadingactor (movie_id, leadingactor_id)
    values (#{movieId,jdbcType=INTEGER}, #{leadingactorId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, leadingactor_id
    from movie_leadingactor
  </select>
</mapper>