<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieImdbToTypeMovieMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieImdbToTypeMovie">
    <constructor>
      <idArg column="id_movie_imdb" javaType="java.lang.Long" jdbcType="BIGINT" />
      <idArg column="id_type_movie" javaType="java.lang.Short" jdbcType="SMALLINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_movie_imdb, id_type_movie
  </sql>
  <select id="selectByExample" parameterType="org.humingk.movie.entity.MovieImdbToTypeMovieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie_imdb_to_type_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_imdb_to_type_movie
    where id_movie_imdb = #{idMovieImdb,jdbcType=BIGINT}
      and id_type_movie = #{idTypeMovie,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.movie.entity.MovieImdbToTypeMovieExample">
    delete from movie_imdb_to_type_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieImdbToTypeMovie">
    insert into movie_imdb_to_type_movie (id_movie_imdb, id_type_movie)
    values (#{idMovieImdb,jdbcType=BIGINT}, #{idTypeMovie,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.movie.entity.MovieImdbToTypeMovie">
    insert into movie_imdb_to_type_movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idMovieImdb != null">
        id_movie_imdb,
      </if>
      <if test="idTypeMovie != null">
        id_type_movie,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idMovieImdb != null">
        #{idMovieImdb,jdbcType=BIGINT},
      </if>
      <if test="idTypeMovie != null">
        #{idTypeMovie,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.movie.entity.MovieImdbToTypeMovieExample" resultType="java.lang.Long">
    select count(*) from movie_imdb_to_type_movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie_imdb_to_type_movie
    <set>
      <if test="record.idMovieImdb != null">
        id_movie_imdb = #{record.idMovieImdb,jdbcType=BIGINT},
      </if>
      <if test="record.idTypeMovie != null">
        id_type_movie = #{record.idTypeMovie,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie_imdb_to_type_movie
    set id_movie_imdb = #{record.idMovieImdb,jdbcType=BIGINT},
      id_type_movie = #{record.idTypeMovie,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>