<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieReviewMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieReview">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="review_id" jdbcType="INTEGER" property="reviewId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_review
    where movie_id = #{movieId,jdbcType=INTEGER}
      and review_id = #{reviewId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieReview">
    insert into movie_review (movie_id, review_id)
    values (#{movieId,jdbcType=INTEGER}, #{reviewId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, review_id
    from movie_review
  </select>
</mapper>