<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieResourceMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieResource">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="resource_id" jdbcType="INTEGER" property="resourceId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_resource
    where movie_id = #{movieId,jdbcType=INTEGER}
      and resource_id = #{resourceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieResource">
    insert into movie_resource (movie_id, resource_id)
    values (#{movieId,jdbcType=INTEGER}, #{resourceId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, resource_id
    from movie_resource
  </select>
</mapper>