<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MoviefromMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Moviefrom">
    <id column="moviefrom_url" jdbcType="VARCHAR" property="moviefromUrl" />
    <result column="moviefrom_name" jdbcType="VARCHAR" property="moviefromName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from moviefrom
    where moviefrom_url = #{moviefromUrl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Moviefrom">
    insert into moviefrom (moviefrom_url, moviefrom_name)
    values (#{moviefromUrl,jdbcType=VARCHAR}, #{moviefromName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Moviefrom">
    update moviefrom
    set moviefrom_name = #{moviefromName,jdbcType=VARCHAR}
    where moviefrom_url = #{moviefromUrl,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select moviefrom_url, moviefrom_name
    from moviefrom
    where moviefrom_url = #{moviefromUrl,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select moviefrom_url, moviefrom_name
    from moviefrom
  </select>
</mapper>