<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieCommentMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieComment">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="comment_id" jdbcType="INTEGER" property="commentId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_comment
    where movie_id = #{movieId,jdbcType=INTEGER}
      and comment_id = #{commentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieComment">
    insert into movie_comment (movie_id, comment_id)
    values (#{movieId,jdbcType=INTEGER}, #{commentId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, comment_id
    from movie_comment
  </select>
</mapper>