<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieReleasetimeMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieReleasetime">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="releasetime_id" jdbcType="INTEGER" property="releasetimeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_releasetime
    where movie_id = #{movieId,jdbcType=INTEGER}
      and releasetime_id = #{releasetimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieReleasetime">
    insert into movie_releasetime (movie_id, releasetime_id)
    values (#{movieId,jdbcType=INTEGER}, #{releasetimeId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, releasetime_id
    from movie_releasetime
  </select>

  <!--==============-->

  <!--根据movieAll更新关联表-->
  <insert id="updateMovieReleasetimeByMovieAll" >
    insert ignore
    into movie_releasetime (movie_id, releasetime_id)
    values (#{movieId,jdbcType=INTEGER}, #{releasetimeId,jdbcType=INTEGER})
  </insert>


</mapper>