<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.MovieDirectorMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.MovieDirector">
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <id column="director_id" jdbcType="INTEGER" property="directorId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from movie_director
    where movie_id = #{movieId,jdbcType=INTEGER}
      and director_id = #{directorId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.MovieDirector">
    insert into movie_director (movie_id, director_id)
    values (#{movieId,jdbcType=INTEGER}, #{directorId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select movie_id, director_id
    from movie_director
  </select>
</mapper>