<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Permission">
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="url" jdbcType="CHAR" property="url" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Permission">
    insert into permission (permission_id, url, description
      )
    values (#{permissionId,jdbcType=INTEGER}, #{url,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Permission">
    update permission
    set url = #{url,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select permission_id, url, description
    from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select permission_id, url, description
    from permission
  </select>

  <!--================-->

  <!--根据roleId获取对应的permission-->
  <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select permission.*
  from permission
  inner join role_permission
  on permission.permission_id = role_permission.permission_id
  where role_permission.role_id = #{roleId,jdbcType=INTEGER}
  </select>

</mapper>