<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.PlaceSceneMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.PlaceScene">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="id_continent_scene" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="id_country_scene" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="id_state_scene" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="id_city_scene" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="longitude" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="latitude" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <arg column="name_zh" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_en" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_other" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="alias" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address_zh" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address_en" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="area_zh" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="area_en" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url_poster" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url_earth" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url_satellite" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="url_map" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, id_continent_scene, id_country_scene, id_state_scene, id_city_scene, longitude, 
    latitude, name_zh, name_en, name_other, alias, address_zh, address_en, description, 
    area_zh, area_en, phone, url_poster, url_earth, url_satellite, url_map
  </sql>
  <select id="selectByExample" parameterType="org.humingk.movie.entity.PlaceSceneExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from place_scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from place_scene
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from place_scene
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.movie.entity.PlaceSceneExample">
    delete from place_scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.PlaceScene">
    insert into place_scene (id, id_continent_scene, id_country_scene, 
      id_state_scene, id_city_scene, longitude, 
      latitude, name_zh, name_en, 
      name_other, alias, address_zh, 
      address_en, description, area_zh, 
      area_en, phone, url_poster, 
      url_earth, url_satellite, url_map
      )
    values (#{id,jdbcType=BIGINT}, #{idContinentScene,jdbcType=TINYINT}, #{idCountryScene,jdbcType=SMALLINT}, 
      #{idStateScene,jdbcType=INTEGER}, #{idCityScene,jdbcType=INTEGER}, #{longitude,jdbcType=DECIMAL}, 
      #{latitude,jdbcType=DECIMAL}, #{nameZh,jdbcType=VARCHAR}, #{nameEn,jdbcType=VARCHAR}, 
      #{nameOther,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{addressZh,jdbcType=VARCHAR}, 
      #{addressEn,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{areaZh,jdbcType=VARCHAR}, 
      #{areaEn,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{urlPoster,jdbcType=VARCHAR}, 
      #{urlEarth,jdbcType=VARCHAR}, #{urlSatellite,jdbcType=VARCHAR}, #{urlMap,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.movie.entity.PlaceScene">
    insert into place_scene
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="idContinentScene != null">
        id_continent_scene,
      </if>
      <if test="idCountryScene != null">
        id_country_scene,
      </if>
      <if test="idStateScene != null">
        id_state_scene,
      </if>
      <if test="idCityScene != null">
        id_city_scene,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="nameZh != null">
        name_zh,
      </if>
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="nameOther != null">
        name_other,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="addressZh != null">
        address_zh,
      </if>
      <if test="addressEn != null">
        address_en,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="areaZh != null">
        area_zh,
      </if>
      <if test="areaEn != null">
        area_en,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="urlPoster != null">
        url_poster,
      </if>
      <if test="urlEarth != null">
        url_earth,
      </if>
      <if test="urlSatellite != null">
        url_satellite,
      </if>
      <if test="urlMap != null">
        url_map,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="idContinentScene != null">
        #{idContinentScene,jdbcType=TINYINT},
      </if>
      <if test="idCountryScene != null">
        #{idCountryScene,jdbcType=SMALLINT},
      </if>
      <if test="idStateScene != null">
        #{idStateScene,jdbcType=INTEGER},
      </if>
      <if test="idCityScene != null">
        #{idCityScene,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="nameZh != null">
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameOther != null">
        #{nameOther,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="addressZh != null">
        #{addressZh,jdbcType=VARCHAR},
      </if>
      <if test="addressEn != null">
        #{addressEn,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="areaZh != null">
        #{areaZh,jdbcType=VARCHAR},
      </if>
      <if test="areaEn != null">
        #{areaEn,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="urlPoster != null">
        #{urlPoster,jdbcType=VARCHAR},
      </if>
      <if test="urlEarth != null">
        #{urlEarth,jdbcType=VARCHAR},
      </if>
      <if test="urlSatellite != null">
        #{urlSatellite,jdbcType=VARCHAR},
      </if>
      <if test="urlMap != null">
        #{urlMap,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.movie.entity.PlaceSceneExample" resultType="java.lang.Long">
    select count(*) from place_scene
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update place_scene
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.idContinentScene != null">
        id_continent_scene = #{record.idContinentScene,jdbcType=TINYINT},
      </if>
      <if test="record.idCountryScene != null">
        id_country_scene = #{record.idCountryScene,jdbcType=SMALLINT},
      </if>
      <if test="record.idStateScene != null">
        id_state_scene = #{record.idStateScene,jdbcType=INTEGER},
      </if>
      <if test="record.idCityScene != null">
        id_city_scene = #{record.idCityScene,jdbcType=INTEGER},
      </if>
      <if test="record.longitude != null">
        longitude = #{record.longitude,jdbcType=DECIMAL},
      </if>
      <if test="record.latitude != null">
        latitude = #{record.latitude,jdbcType=DECIMAL},
      </if>
      <if test="record.nameZh != null">
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
      <if test="record.nameEn != null">
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.nameOther != null">
        name_other = #{record.nameOther,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.addressZh != null">
        address_zh = #{record.addressZh,jdbcType=VARCHAR},
      </if>
      <if test="record.addressEn != null">
        address_en = #{record.addressEn,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.areaZh != null">
        area_zh = #{record.areaZh,jdbcType=VARCHAR},
      </if>
      <if test="record.areaEn != null">
        area_en = #{record.areaEn,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.urlPoster != null">
        url_poster = #{record.urlPoster,jdbcType=VARCHAR},
      </if>
      <if test="record.urlEarth != null">
        url_earth = #{record.urlEarth,jdbcType=VARCHAR},
      </if>
      <if test="record.urlSatellite != null">
        url_satellite = #{record.urlSatellite,jdbcType=VARCHAR},
      </if>
      <if test="record.urlMap != null">
        url_map = #{record.urlMap,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update place_scene
    set id = #{record.id,jdbcType=BIGINT},
      id_continent_scene = #{record.idContinentScene,jdbcType=TINYINT},
      id_country_scene = #{record.idCountryScene,jdbcType=SMALLINT},
      id_state_scene = #{record.idStateScene,jdbcType=INTEGER},
      id_city_scene = #{record.idCityScene,jdbcType=INTEGER},
      longitude = #{record.longitude,jdbcType=DECIMAL},
      latitude = #{record.latitude,jdbcType=DECIMAL},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_other = #{record.nameOther,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      address_zh = #{record.addressZh,jdbcType=VARCHAR},
      address_en = #{record.addressEn,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      area_zh = #{record.areaZh,jdbcType=VARCHAR},
      area_en = #{record.areaEn,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      url_poster = #{record.urlPoster,jdbcType=VARCHAR},
      url_earth = #{record.urlEarth,jdbcType=VARCHAR},
      url_satellite = #{record.urlSatellite,jdbcType=VARCHAR},
      url_map = #{record.urlMap,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.humingk.movie.entity.PlaceScene">
    update place_scene
    <set>
      <if test="idContinentScene != null">
        id_continent_scene = #{idContinentScene,jdbcType=TINYINT},
      </if>
      <if test="idCountryScene != null">
        id_country_scene = #{idCountryScene,jdbcType=SMALLINT},
      </if>
      <if test="idStateScene != null">
        id_state_scene = #{idStateScene,jdbcType=INTEGER},
      </if>
      <if test="idCityScene != null">
        id_city_scene = #{idCityScene,jdbcType=INTEGER},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="nameZh != null">
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameOther != null">
        name_other = #{nameOther,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="addressZh != null">
        address_zh = #{addressZh,jdbcType=VARCHAR},
      </if>
      <if test="addressEn != null">
        address_en = #{addressEn,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="areaZh != null">
        area_zh = #{areaZh,jdbcType=VARCHAR},
      </if>
      <if test="areaEn != null">
        area_en = #{areaEn,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="urlPoster != null">
        url_poster = #{urlPoster,jdbcType=VARCHAR},
      </if>
      <if test="urlEarth != null">
        url_earth = #{urlEarth,jdbcType=VARCHAR},
      </if>
      <if test="urlSatellite != null">
        url_satellite = #{urlSatellite,jdbcType=VARCHAR},
      </if>
      <if test="urlMap != null">
        url_map = #{urlMap,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.PlaceScene">
    update place_scene
    set id_continent_scene = #{idContinentScene,jdbcType=TINYINT},
      id_country_scene = #{idCountryScene,jdbcType=SMALLINT},
      id_state_scene = #{idStateScene,jdbcType=INTEGER},
      id_city_scene = #{idCityScene,jdbcType=INTEGER},
      longitude = #{longitude,jdbcType=DECIMAL},
      latitude = #{latitude,jdbcType=DECIMAL},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      name_en = #{nameEn,jdbcType=VARCHAR},
      name_other = #{nameOther,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      address_zh = #{addressZh,jdbcType=VARCHAR},
      address_en = #{addressEn,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      area_zh = #{areaZh,jdbcType=VARCHAR},
      area_en = #{areaEn,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      url_poster = #{urlPoster,jdbcType=VARCHAR},
      url_earth = #{urlEarth,jdbcType=VARCHAR},
      url_satellite = #{urlSatellite,jdbcType=VARCHAR},
      url_map = #{urlMap,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>