<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ReleasetimeMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Releasetime">
    <id column="releasetime_id" jdbcType="INTEGER" property="releasetimeId" />
    <result column="time_area" jdbcType="CHAR" property="timeArea" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from releasetime
    where releasetime_id = #{releasetimeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Releasetime">
    insert into releasetime (releasetime_id, time_area)
    values (#{releasetimeId,jdbcType=INTEGER}, #{timeArea,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Releasetime">
    update releasetime
    set time_area = #{timeArea,jdbcType=CHAR}
    where releasetime_id = #{releasetimeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select releasetime_id, time_area
    from releasetime
    where releasetime_id = #{releasetimeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select releasetime_id, time_area
    from releasetime
  </select>

 <!--========================================== -->
  <!--上映时间-->
  <select id="selectReleasetimesOfMovieById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select releasetime.*
    from releasetime
    inner join movie_releasetime
    on releasetime.releasetime_id = movie_releasetime.releasetime_id and movie_releasetime.movie_id=#{movieId,jdbcType=INTEGER}
  </select>

  <!--判断是否已有timeArea,有的话返回releasetimeId用于更新movieReleasetime关联表-->
  <select id="selectByreleasetimeTimeArea" parameterType="java.lang.String" resultMap="BaseResultMap">
    select releasetime_id, time_area
    from releasetime
    where time_area = #{timeArea,jdbcType=CHAR}
    limit 1
  </select>

  <!--根据movieall更新releasetimes-->
  <insert id="updateReleasetimesByMovieAll" parameterType="org.humingk.movie.entity.Releasetime"  useGeneratedKeys="true" keyProperty="releasetimeId" >
    insert ignore
    into releasetime(time_area)
    values(#{timeArea,jdbcType=CHAR})
  </insert>

</mapper>