<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ResourcelistResourcetypeMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.ResourcelistResourcetype">
    <id column="resourcelist_id" jdbcType="INTEGER" property="resourcelistId" />
    <id column="resourcetype_id" jdbcType="INTEGER" property="resourcetypeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from resourcelist_resourcetype
    where resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
      and resourcetype_id = #{resourcetypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.ResourcelistResourcetype">
    insert into resourcelist_resourcetype (resourcelist_id, resourcetype_id)
    values (#{resourcelistId,jdbcType=INTEGER}, #{resourcetypeId,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select resourcelist_id, resourcetype_id
    from resourcelist_resourcetype
  </select>
</mapper>