<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ResourcelistMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Resourcelist">
    <id column="resourcelist_id" jdbcType="INTEGER" property="resourcelistId" />
    <result column="keyword_content" jdbcType="CHAR" property="keywordContent" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from resourcelist
    where resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Resourcelist">
    insert into resourcelist (resourcelist_id, keyword_content)
    values (#{resourcelistId,jdbcType=INTEGER}, #{keywordContent,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Resourcelist">
    update resourcelist
    set keyword_content = #{keywordContent,jdbcType=CHAR}
    where resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select resourcelist_id, keyword_content
    from resourcelist
    where resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select resourcelist_id, keyword_content
    from resourcelist
  </select>
</mapper>