<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ResourceMapper">
    <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Resource">
        <id column="resource_url" jdbcType="VARCHAR" property="resourceUrl"/>
        <id column="keyword" jdbcType="CHAR" property="keyword"/>
        <result column="resource_name" jdbcType="VARCHAR" property="resourceName"/>
        <result column="resource_type" jdbcType="INTEGER" property="resourceType"/>
        <result column="client_type" jdbcType="INTEGER" property="clientType"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from resource
    where resource_url = #{resourceUrl,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=CHAR}
  </delete>
    <insert id="insert" parameterType="org.humingk.movie.entity.Resource">
    insert ignore into resource (resource_url, keyword, resource_name,
      resource_type, client_type)
    values (#{resourceUrl,jdbcType=VARCHAR}, #{keyword,jdbcType=CHAR}, #{resourceName,jdbcType=VARCHAR}, 
      #{resourceType,jdbcType=INTEGER}, #{clientType,jdbcType=INTEGER})
  </insert>
    <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Resource">
    update resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=INTEGER},
      client_type = #{clientType,jdbcType=INTEGER}
    where resource_url = #{resourceUrl,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=CHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select resource_url, keyword, resource_name, resource_type, client_type
    from resource
    where resource_url = #{resourceUrl,jdbcType=VARCHAR}
      and keyword = #{keyword,jdbcType=CHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select resource_url, keyword, resource_name, resource_type, client_type
    from resource
  </select>
    <select id="selectByKeyword"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select resource_url, keyword, resource_name, resource_type, client_type
    from resource
      where keyword = #{keyword,jdbcType=CHAR}
  </select>
</mapper>