<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ResourcelistMoviefromMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.ResourcelistMoviefrom">
    <id column="resourcelist_id" jdbcType="INTEGER" property="resourcelistId" />
    <id column="moviefrom_url" jdbcType="VARCHAR" property="moviefromUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from resourcelist_moviefrom
    where resourcelist_id = #{resourcelistId,jdbcType=INTEGER}
      and moviefrom_url = #{moviefromUrl,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.ResourcelistMoviefrom">
    insert into resourcelist_moviefrom (resourcelist_id, moviefrom_url)
    values (#{resourcelistId,jdbcType=INTEGER}, #{moviefromUrl,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select resourcelist_id, moviefrom_url
    from resourcelist_moviefrom
  </select>
</mapper>