<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.ReviewMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Review">
    <id column="review_id" jdbcType="INTEGER" property="reviewId" />
    <result column="rate" jdbcType="REAL" property="rate" />
    <result column="reviews" jdbcType="LONGVARCHAR" property="reviews" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Review">
    insert into review (review_id, rate, reviews
      )
    values (#{reviewId,jdbcType=INTEGER}, #{rate,jdbcType=REAL}, #{reviews,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Review">
    update review
    set rate = #{rate,jdbcType=REAL},
      reviews = #{reviews,jdbcType=LONGVARCHAR}
    where review_id = #{reviewId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select review_id, rate, reviews
    from review
    where review_id = #{reviewId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select review_id, rate, reviews
    from review
  </select>
</mapper>