<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Role">
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Role">
    insert into role (role_id, name, description
      )
    values (#{roleId,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Role">
    update role
    set name = #{name,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select role_id, name, description
    from role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select role_id, name, description
    from role
  </select>

  <!--================-->

  <!--根据userID获取role列表-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select role_id, name, description
    inner join user_role
    on role.role_id=user_role.role_id
    where user.user_id = #{userId,jdbcType=INTEGER}
  </select>

</mapper>