<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.SongNeteaseToAlbumNeteaseMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.SongNeteaseToAlbumNetease">
    <constructor>
      <idArg column="id_song_netease" javaType="java.lang.Long" jdbcType="BIGINT" />
      <idArg column="id_album_netease" javaType="java.lang.Long" jdbcType="BIGINT" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id_song_netease, id_album_netease
  </sql>
  <select id="selectByExample" parameterType="org.humingk.movie.entity.SongNeteaseToAlbumNeteaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from song_netease_to_album_netease
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from song_netease_to_album_netease
    where id_song_netease = #{idSongNetease,jdbcType=BIGINT}
      and id_album_netease = #{idAlbumNetease,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.humingk.movie.entity.SongNeteaseToAlbumNeteaseExample">
    delete from song_netease_to_album_netease
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.SongNeteaseToAlbumNetease">
    insert into song_netease_to_album_netease (id_song_netease, id_album_netease)
    values (#{idSongNetease,jdbcType=BIGINT}, #{idAlbumNetease,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.humingk.movie.entity.SongNeteaseToAlbumNetease">
    insert into song_netease_to_album_netease
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="idSongNetease != null">
        id_song_netease,
      </if>
      <if test="idAlbumNetease != null">
        id_album_netease,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="idSongNetease != null">
        #{idSongNetease,jdbcType=BIGINT},
      </if>
      <if test="idAlbumNetease != null">
        #{idAlbumNetease,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.humingk.movie.entity.SongNeteaseToAlbumNeteaseExample" resultType="java.lang.Long">
    select count(*) from song_netease_to_album_netease
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update song_netease_to_album_netease
    <set>
      <if test="record.idSongNetease != null">
        id_song_netease = #{record.idSongNetease,jdbcType=BIGINT},
      </if>
      <if test="record.idAlbumNetease != null">
        id_album_netease = #{record.idAlbumNetease,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update song_netease_to_album_netease
    set id_song_netease = #{record.idSongNetease,jdbcType=BIGINT},
      id_album_netease = #{record.idAlbumNetease,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>