<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="CHAR" property="tagName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Tag">
    insert into tag (tag_id, tag_name)
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=CHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag_id, tag_name
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select tag_id, tag_name
    from tag
  </select>

  <!--=====================-->

    <!--标签-->
  <select id="selectTagsOfMovieById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select tag.*
    from tag
    inner join movie_tag
    on tag.tag_id=movie_tag.tag_id and movie_tag.movie_id=#{movieId,jdbcType=INTEGER}
  </select>


  <!--判断是否已有tagName,有的话返回tagId用于更新movieTag关联表-->
  <select id="selectByTagName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select tag_id, tag_name
    from tag
    where tag_name = #{tagName,jdbcType=CHAR}
    limit 1
  </select>

  <!--根据movieAll更新tag-->
  <!--useGeneratedKeys 和 keyProperty 用于返回当前插入的行的自增ID-->
  <insert id="updateTagsByMovieAll" parameterType="org.humingk.movie.entity.Tag" useGeneratedKeys="true" keyProperty="tagId" >
    insert ignore
    into tag(tag_name)
    values(#{tagName,jdbcType=CHAR})
  </insert>


</mapper>