<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.TypeMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.Type">
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="CHAR" property="typeName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from type
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.Type">
    insert into type (type_id, type_name)
    values (#{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.Type">
    update type
    set type_name = #{typeName,jdbcType=CHAR}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select type_id, type_name
    from type
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select type_id, type_name
    from type
  </select>
</mapper>