<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="CHAR" property="name" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.User">
    insert into user (user_id, name)
    values (#{userId,jdbcType=INTEGER}, #{name,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.User">
    update user
    set name = #{name,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, name
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, name
    from user
  </select>
</mapper>