<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.UserMovieMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.UserMovie">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <id column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="rate" jdbcType="REAL" property="rate" />
    <result column="wish" jdbcType="INTEGER" property="wish" />
    <result column="seen" jdbcType="INTEGER" property="seen" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_movie
    where user_id = #{userId,jdbcType=INTEGER}
      and movie_id = #{movieId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.UserMovie">
    insert into user_movie (user_id, movie_id, rate, 
      wish, seen)
    values (#{userId,jdbcType=INTEGER}, #{movieId,jdbcType=INTEGER}, #{rate,jdbcType=REAL}, 
      #{wish,jdbcType=INTEGER}, #{seen,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.UserMovie">
    update user_movie
    set rate = #{rate,jdbcType=REAL},
      wish = #{wish,jdbcType=INTEGER},
      seen = #{seen,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
      and movie_id = #{movieId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select user_id, movie_id, rate, wish, seen
    from user_movie
    where user_id = #{userId,jdbcType=INTEGER}
      and movie_id = #{movieId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, movie_id, rate, wish, seen
    from user_movie
  </select>

  <!--===========================-->

  <!--更新wishsAndSeens-->
  <insert id="updateWishsAndSeens" parameterType="org.humingk.movie.entity.UserMovie">
  insert ignore
  into user_movie (user_id, movie_id, rate, wish, seen)
  values (#{userId,jdbcType=INTEGER},#{movieId,jdbcType=INTEGER},#{rate,jdbcType=REAL},#{wish,jdbcType=INTEGER},#{seen,jdbcType=INTEGER})
  </insert>

  <!--通过userId获取所有-->
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, movie_id, rate, wish, seen
    from user_movie
    where user_id=#{userId,jdbcType=INTEGER}
  </select>

</mapper>