<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.humingk.movie.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="org.humingk.movie.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="label" jdbcType="CHAR" property="label" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="email" jdbcType="CHAR" property="email" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.humingk.movie.entity.User">
    insert into user (user_id, label, name, 
      password, phone, email)
    values (#{userId,jdbcType=INTEGER}, #{label,jdbcType=CHAR}, #{name,jdbcType=CHAR}, 
      #{password,jdbcType=CHAR}, #{phone,jdbcType=CHAR}, #{email,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.humingk.movie.entity.User">
    update user
    set label = #{label,jdbcType=CHAR},
      name = #{name,jdbcType=CHAR},
      password = #{password,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      email = #{email,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, label, name, password, phone, email
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, label, name, password, phone, email
    from user
  </select>

  <!--================-->

  <!--根据email获取user-->
  <select id="selectByUserEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
  select user_id, label, name, password, phone, email
  from user
  where user.email = #{email,jdbcType=CHAR}
  </select>

</mapper>